.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}
.attribution a { color: hsl(228, 45%, 44%); }
/*-------------------------------------------------*/
body {
  background-color: hsl(210, 46%, 95%);
  font-family: 'Manrope', sans-serif;
}

h1, h2 {
  margin: 0;
  color: hsl(217, 19%, 35%);
  font-weight: 500;
}

p {
  margin: 0;
  color: hsl(214, 17%, 51%);
}
/*-------------------------------------------------*/
#wrapper {
  width: 800px;
  height: 300px;
  margin: 50px auto 0 auto;
  border-radius: 10px;
  /*overflow: hidden;*/
}

.left-image {
  width: 300px;
  height: 300px;
  float: left;
}

.shorted-content {
  width: 440px;
  height: 240px;
  float: left;
  background-color: white;
  padding: 30px;
}

.content-title {
  font-size: 25px;
}

.content-detail {
  margin: 10px 0 0 0;
  font-size: 13px;
}

.content-author {
  margin: 15px 0 0 0;
  height: 50px;
  position: relative;
}

.author-avatar {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.author-detail {
  float: left;
  height: 50px;
  width: 320px;
  margin-left: 20px;
}

.author-name {
  font-size: 16px;
  display: inline-block;
  width: 100%;
  height: 25px;
}

.author-date {
  font-size: 13px;
  display: inline-block;
  width: 100%;
  height: 25px;
}

/*-----------------------------------------------------*/
.btn-author-share {
  float: right;
  display: inline-block;
  margin-top: 5px;
  width: 40px;
  height: 40px;
  background-image: url(../images/icon-share.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: hsl(214, 17%, 51%);
  border-radius: 20px;
}

.arrow_box {
  width: 250px;
  height: 55px;
  border-radius: 10px;
	background: hsl(217, 19%, 35%);
  border: solid 1px hsl(217, 19%, 25%);
}

.arrow_box:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-top-color: hsl(217, 19%, 35%);
	border-width: 15px;
	margin-left: -15px;
}

#share-box {
  position: absolute;
  right: -105px;
  bottom: 70px;
}

.share-content {
  width: 190px;
  margin: 0 auto;
}

.share-content p {
  color: hsl(212, 23%, 69%);
  display: inline-block;
  height: 20px;
  margin-top: 18px;
  font-size: 15px;
  float: left;
}

.share-content ul {
  list-style-type: none;
  float: left;
  margin: 8px 0px 0px 10px;
  padding: 0px;

}

.share-content ul li {
  display: inline-block;
  float: left;
  width: 40px;
  height: 40px;
}

.btn-share {
  float: left;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#icon-facebook {
  background-image: url(../images/icon-facebook.svg);
}

#icon-twitter {
  background-image: url(../images/icon-twitter.svg);
}

#icon-pinterest {
  background-image: url(../images/icon-pinterest.svg);
}

/*
- Very Dark Grayish Blue: hsl(217, 19%, 35%)
- Desaturated Dark Blue: hsl(214, 17%, 51%)
- Grayish Blue: hsl(212, 23%, 69%)
- Light Grayish Blue: hsl(210, 46%, 95%)
share icon color #6E8098
*/
