.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/*-------------------------------------------------*/
body {
  background-color: hsl(210, 46%, 95%);
  font-family: 'Manrope', sans-serif;
}

h1, h2 {
  margin: 0;
  color: hsl(217, 19%, 35%);
  font-weight: 500;
}

p {
  margin: 0;
  color: hsl(214, 17%, 51%);
}
/*-------------------------------------------------*/
@media only screen and (max-width: 375px) {
  /* For Mobile (max 375px) */
  #wrapper {
    width: 340px;
    height: auto;
  }

  #main-content {
    height: auto;
  }

  .left-image {
    width: 100%;
    height: 200px;
    float: left;
  }

  .shorted-content {
    width: 280px;
    height: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 15px;
  }

  .content-title {
    font-size: 18px;
  }

  .author-detail {
    width: 170px;
  }
}

@media only screen and (min-width: 376px) {
  /* For Desktop (min 375px) */
  #wrapper {
    width: 800px;
    height: 300px;
  }

  #main-content {
    height: 300px;
  }

  .left-image {
    width: 300px;
    height: 300px;
    float: left;
  }

  .shorted-content {
    width: 440px;
    height: 240px;
    padding: 30px;
  }

  .content-title {
    font-size: 25px;
  }

  .author-detail {
    width: 320px;
  }

}

#wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main-content {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.shorted-content {
  float: left;
  background-color: white;
}

.content-detail {
  margin: 10px 0 0 0;
  font-size: 13px;
}

.content-author {
  margin: 25px 0 0 0;
  height: 50px;
}

.author-avatar {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.author-detail {
  float: left;
  height: 50px;
  margin-left: 20px;
}

.author-name {
  font-size: 16px;
  display: inline-block;
  width: 100%;
  height: 25px;
}

.author-date {
  font-size: 13px;
  display: inline-block;
  width: 100%;
  height: 25px;
}

/*-----------------------------------------------------*/
@media only screen and (max-width: 375px) {
  /* For Mobile (max 375px) */
  #btn-author-share {
    position: absolute;
    z-index: 100;
    bottom: 20px;
  }

  #share-box {
    position: absolute;
    width: 100%;
    height: 80px;
    bottom: 0px;
    background-color: hsl(217, 19%, 35%);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .share-content {
    float: left;
    margin-left: 30px;
    margin-top: 12px;
  }

  .btn-author-share-activated {
    background-image: url(../images/icon-share-active.svg);
    background-color: hsl(214, 17%, 51%);
  }
}

@media only screen and (min-width: 376px) {
  /* For Desktop (min 375px) */

  #btn-author-share {
    float: right;
    display: inline-block;
    margin-top: 5px;
  }


  #share-box {
    position: absolute;
    right: -75px;
    top: 150px;
  }

  .share-content {
    width: 190px;
    margin: 0 auto;
  }


  .arrow_box {
    width: 250px;
    height: 55px;
    border-radius: 10px;
  	background: hsl(217, 19%, 35%);
    border: solid 1px hsl(217, 19%, 25%);
  }

  .arrow_box:after {
  	top: 100%;
  	left: 50%;
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
  	border-top-color: hsl(217, 19%, 35%);
  	border-width: 15px;
  	margin-left: -15px;
  }

  .btn-author-share-deactivated:hover {
    background-color: hsl(217, 19%, 35%);
    background-image: url(../images/icon-share-active.svg);
  }

  .btn-author-share-activated {
    background-color: hsl(217, 19%, 35%);
    background-image: url(../images/icon-share-active.svg);
  }
}

#btn-author-share {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.btn-author-share-deactivated {
  background-image: url(../images/icon-share.svg);
  background-color: hsl(210, 46%, 95%);
}


.share-content p {
  color: hsl(212, 23%, 69%);
  display: inline-block;
  height: 20px;
  margin-top: 18px;
  font-size: 15px;
  float: left;
}

.share-content ul {
  list-style-type: none;
  float: left;
  margin: 8px 0px 0px 10px;
  padding: 0px;

}

.share-content ul li {
  display: inline-block;
  float: left;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.btn-share {
  float: left;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#icon-facebook {
  background-image: url(../images/icon-facebook.svg);
}

#icon-twitter {
  background-image: url(../images/icon-twitter.svg);
}

#icon-pinterest {
  background-image: url(../images/icon-pinterest.svg);
}

/*
- Very Dark Grayish Blue: hsl(217, 19%, 35%)
- Desaturated Dark Blue: hsl(214, 17%, 51%)
- Grayish Blue: hsl(212, 23%, 69%)
- Light Grayish Blue: hsl(210, 46%, 95%)
share icon color #6E8098
*/
